


body.dds{
  //display: block;
  //position: fixed;
  //margin: 0;
  //padding: 0;
  //width: 100%;
  //height: 100vh;
  //font-family: 'Helvetica Neue', helvetica, sans-serif;
  //overflow: hidden;
  * {
    outline: 0;
  }

  .security-text {
    
    top: 10px;
    position: relative;
    //margin: 0 auto;
    //border: 1px solid #babcbd;
    //padding: 10px;
    width: 100%;
    left: 0px;
    float: right;
    display: flex;
    align-items: center;
    p {
      position: relative;
      top: 2px;
      text-align: left;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      margin: 0;
      float: left;
      width: 75%;
      font-style: italic;
    }
    
    img {
      width: 35px;
      top: 0px;
      left: 0px;
      margin:0  10px;
      display: block;
      position: relative;
      float: left;
    }
  }

  .medium-gray-bg2 {
      padding-top: 180px;
  }

  .footer {
    padding: 0;
  }

  .pile-section {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;

    .row.max-width {
      position: relative;
      z-index: 3;
    }

    


      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
      }

      &:first-child, &:last-child {
        &:after {
          background: transparent !important;
        }
      }
  }

  #section4 .content {
      top: 100%;
      position: absolute;
      left: 0;
  }

  .page {
    width: 100%;
    //margin: 60px auto;
    background:white;
    //padding: 60px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}

    .title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 100vh;
          p {
            font-weight: 400;
            color: #009947;
            //color: #75787B
          }

          .mouse {
            width: 25px;
            height: 43px;
            min-height: 43px;
            border-radius: 12.5px;
            border: 2px solid #009947;
            display: block;
            margin: 0 auto;
            position: relative;
            background: #ffffff;
            z-index: 1;
               .scroll-animation {
                width: 3px;
                height: 10px;
                border-radius: 12.5px;
                border: 0px solid #009947;
                background: #009947;
                display: block;
                margin: 0 auto;
                position: relative;
                top: 2px;
                z-index: 2;
                -webkit-animation: flickerAnimation 1s infinite;
                -moz-animation: flickerAnimation 1s infinite;
                -o-animation: flickerAnimation 1s infinite;
                  animation: flickerAnimation 3s infinite;
                  
              }
          }

          .scroll-line {
            display: block;
            margin: 0 auto;
            border-right: 1px dashed #009947;
            width: 2px;
            position: absolute;
            bottom: 0;
            height: 20%;
            left: 0;
            right: 0;
          }
    }

    @keyframes scrollAnimation {
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-o-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-moz-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-webkit-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    



    .skrllr-section {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;

      .row.max-width {
        position: relative;
        z-index: 3;
      }

      &:first-child, &:last-child {
        &:after {
          background: transparent;
        }
      }


      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        background: rgba(0,0,0,0.1);
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
      }


    }

    .wrapper {
      height: 100% !important;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
    }

    h1 {
      text-transform: initial;
      font-family: 'helvetica';
      letter-spacing: 0px;
      font-weight: 600;
      color: #009947;
      //color: #BABCBD;
      //color: #75787B;
      line-height: normal;
      margin-bottom: 20px;
      text-align: center;



        span {
          color: #009947;
          //color: #BABCBD;
          //color: #75787B;
          padding-top: 10px;
          font-weight: 600;
          border-top: 2px solid #009947;
          display: inline-block;

          
          
        }
        @media (min-width: 769px){
          font-size: 36px;
        }
        @media (min-width: 1440px){
          font-size: 42px;
        }

        @media (max-width: 768px){
          font-size: 24px;
        }
        
    }
    

    .center-section {
      display: flex;
      justify-content: center;
      flex-flow: column;
      height: 100vh;

      @media (max-width: 991px) {
        height: initial;
        display: block;
        margin-top: 100px;
        margin-bottom: 25px;
      }

        h2 {
          text-align: left;
          font-weight: 600;
          font-size: 48px;
          line-height: 48px;
          letter-spacing: 0;
          color: white;
          padding: 0;
          text-transform: initial;
          margin-bottom: 15px;
          @media (max-width: 991px) {
            font-size: 36px;
            line-height: 36px;
          }
        }
        p {
          font-size: 18px;
          line-height: 28px;
          color: #FFFFFF;
          text-shadow: 0px 2px 15px rgba(0,0,0,0.2);
          font-weight: 400;
          @media (max-width: 991px) {
            font-size: 14px;
            line-height: 20px;
          }
        }
        a {
          color: white;
          text-decoration: none;
          padding-bottom: 4px;
          font-weight: 600;
          margin-top: 20px;
          //font-size: 21px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          @media (max-width: 991px) {
            //font-size: 16px;
            //line-height: 20px;
          }
          /*&:after {
            content: '';
            background-image: url('/assets/img/play-button-icon.svg');
            width: 30px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 30px;
            display: inline-block;
            top: 10px;
            left: 5px;
            position: relative;
            transition: all 0.3s ease-in-out;
            opacity: 0.8;

          }*/
          &:hover {
             text-decoration: underline;
             /*&:after {
               opacity: 1;
             }
             */
          }
        }
        .outer_vidyard_wrapper {
          box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
          @media (max-width: 991px) {
              //max-width: 340px;
              margin: 15px;
              padding: 0;
          }
        }

        .number-section {
          color: white;
          font-size: 100px;
          font-weight: 300;
          text-align: right;
          width: 100%;
          display: inline-block;
          @media (max-width: 991px) {
            font-size: 60px;
            text-align: left;
            margin-bottom: 15px;
          }
        }
      
    }
    

    .marg-0 {
      @media (max-width: 991px) {
        margin: 0 auto !important;
      }
    }

    

    .blueprint-container {
      display: flex;
      justify-content: center;
      flex-flow: column;
      height: 100vh;
      padding: 20px;
      margin-top: 8%;
      max-width: 719px;
      //margin-top: 103px;

      
      @media (max-height: 760px) {
        max-width: 560px;
      }
      @media (max-width: 991px) {
          display: none;
      }
        .blueprint {
          //height: 300px;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          a.room {
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            height: 100%;
            width: 50%;
            transition: all 0.3s ease-in-out;
            background: transparent;
            position: relative;

            img  {
              width: 100%;
            }

            span.number {
              color: rgba(0, 153, 71, 0.5);
              font-size: 144px;
              font-weight: 600;
              position: absolute;
              margin: -96px auto;
              top: 50%;
              display: block;
              z-index: 2;
              left: 0;
              right: 0;
              text-align: center;
              line-height: normal;

            }

            span.info {
              color: rgba(0, 153, 71, 1);
              //color: #ffffff;
              background: rgba(255,255,255,0.75);
              //background: rgba(0, 153, 71, 0.5);
              border: 1px solid rgba(0, 153, 71, 1);
              padding: 5px 0px;
              font-size: 14px;
              font-weight: 600;
              position: absolute;
              top: 74%;
              margin: 0 auto;
              display: block;
              width: 80px;
              z-index: 3;
              left: 0;
              right: 0;
              text-align: center;
              opacity: 1;

              transition: all 0.3s ease-in-out;

            }

            span.chapter, a.chapter {
              color: #ffffff;
              font-size: 36px;
              line-height: 38px;
              font-weight: 600;
              position: absolute;
              top: 8%;
              margin: 0 auto;
              display: block;
              z-index: 4;
              left: 0;
              right: 0;
              text-align: center;
              opacity: 0;
              transition: all 0.5s ease-in-out;
              @media (min-width: 769px){
                font-size: 24px;
                line-height: normal;
              }
              @media (min-width: 1440px){
                font-size: 30px;
                line-height: normal;
              }

              @media (max-width: 768px){
                font-size: 24px;
                line-height: normal;
              }


            }

            &:after {
              content: "";
              height: 100%;
              width: 100%;
              background: rgba(0,153,71,0);
              position: absolute;
              display: block;
              z-index: 3;
              top: 0;
              left: 0;
              transition: all 0.3s ease-in-out;

            }

            &:hover {
              &:after {
                background: rgba(0, 153, 71, 0.75);
              }

              span.info {
                opacity: 0;
              }

              span.chapter{
                opacity: 1;
                top: 38%;
              }
            }
            //min-height: 500px;
          }
        }
    }
    .main-menu{
      position: fixed;
      right: 15px;
      top: 40%;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      

      @media (max-width: 991px) {
        top: 70%;
        left: 0;
        right: 0;
        display: none !important;
      }
      .pagination {
        display: block;
        width: 90px;
        @media (max-width: 991px) {
          margin: 0 auto;
          left: 0;
          right: 0;
        }
        li {
          display: block;
          width: 50%;
          border: 2px solid #ffffff;
          float: left;
          margin: -1px;

          &.active {
            background: rgba(0, 153, 71, 0.75);
          }

          &:nth-child(4){
            left: -4px;
            position: relative;
          }
          &:nth-child(1){
            width: 100%;
            border: 0;
            a {
              border-bottom: 2px solid transparent;
              border-radius: 0;
              font-size: 16px;
              padding: 15px 0 2px 0;
              margin-bottom: 10px;
              &:before {
                content: "";
                background-image: url('/assets/img/chevron-white.svg');
                transform: rotate(-90deg);
                width: 15px;
                height: 15px;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                opacity: 0.5;
                position: relative;
                transition: all 0.3s ease-in-out;
                top: 0;
              }
              &:hover {
                background: transparent;
                text-decoration: underline;
                &:before {
                  opacity: 1;
                  top: -5px;
                }
              }
              &.active {
                background: transparent;
              }
            }
          }

          &:last-child{
            width: 100%;
            border: 0;
            a {
              border-bottom: 2px solid transparent;
              border-radius: 0;
              font-size: 16px;
              padding: 15px 0 2px 0;
              &:after {
                content: "";
                background-image: url('/assets/img/chevron-white.svg');
                transform: rotate(90deg);
                width: 15px;
                height: 15px;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                opacity: 0.5;
                position: relative;
                transition: all 0.3s ease-in-out;
                top: 0;
              }
              &:hover {
                background: transparent;
                text-decoration: underline;
                &:after {
                  opacity: 1;
                  top: 5px;
                }
              }
              &.active {
                background: transparent;
              }
            }
          }
          a {
            background: transparent;
            font-size: 18px;
            color: #ffffff;
            border: 0;
            width: 100%;
            text-align: center;
            transition: all 0.3s ease-in-out;
            &:hover {
              background: rgba(0, 153, 71, 0.75);
            }
            
          }
        }
      }
    }

    .main-menu.show-section-menu {
      opacity: 1;
    }

    .vidyard_wrapper .play-btn {
      margin: -12.5% 0 0 -12.5%;
      width: 25%;
    }

    

}

#playlist .panel-item:focus .playlist-thumbnail-container .thumbnail-with-index .thumbnail, #playlist .panel-item:hover .playlist-thumbnail-container .thumbnail-with-index .thumbnail {
        -webkit-filter: blur(0px) opacity(.5);
        filter: blur(0px) opacity(.5);
    }

    #playlist .panel-item:focus .playlist-thumbnail-container .thumbnail-with-index .chapter-index, #playlist .panel-item:hover .playlist-thumbnail-container .thumbnail-with-index .chapter-index {
        opacity: 0 !important;
    }