


body.dds{
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  overflow: hidden;

    .title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 100vh;
          p {
            font-weight: 400;
            color: #009947;
          }

          .mouse {
            width: 25px;
            height: 43px;
            min-height: 43px;
            border-radius: 12.5px;
            border: 2px solid #009947;
            display: block;
            margin: 0 auto;
            position: relative;
            background: #ffffff;
            z-index: 1;
               .scroll-animation {
                width: 3px;
                height: 10px;
                border-radius: 12.5px;
                border: 0px solid #009947;
                background: #009947;
                display: block;
                margin: 0 auto;
                position: relative;
                top: 2px;
                z-index: 2;
                -webkit-animation: flickerAnimation 1s infinite;
                -moz-animation: flickerAnimation 1s infinite;
                -o-animation: flickerAnimation 1s infinite;
                  animation: flickerAnimation 3s infinite;
                  
              }
          }

          .scroll-line {
            display: block;
            margin: 0 auto;
            border-right: 1px dashed #009947;
            width: 2px;
            position: absolute;
            bottom: 0;
            height: 20%;
            left: 0;
            right: 0;
          }
    }

    @keyframes scrollAnimation {
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-o-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-moz-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    @-webkit-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:0; }
      100% { opacity:1; }
    }
    


    .skrllr-wrapper {
      position: relative;
      display: block;
      width: 100vw;
      height: 100%;
      padding: 0;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    .skrllr-section {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;

      .row.max-width {
        position: relative;
        z-index: 3;
      }

      &:first-child, &:last-child {
        &:after {
          background: transparent;
        }
      }


      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        background: rgba(0,0,0,0.1);
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
      }


    }

    .wrapper {
      height: 100% !important;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
    }

    h1 {
      text-transform: initial;
      font-family: 'helvetica';
      letter-spacing: 0px;
      font-weight: 600;
      color: #009947;
      margin-bottom: 20px;
        span {
          padding-top: 10px;
          font-weight: 300;
          border-top: 2px solid #009947;
        }
    }
    

    .center-section {
      display: flex;
      justify-content: center;
      flex-flow: column;
      height: 100vh;

      @media (max-width: 991px) {
        height: initial;
        display: block;
        margin-top: 100px;
      }

        h2 {
          text-align: left;
          font-weight: 600;
          font-size: 48px;
          line-height: 48px;
          letter-spacing: 0;
          color: white;
          padding: 0;
          text-transform: initial;
          margin-bottom: 15px;
          @media (max-width: 991px) {
            font-size: 36px;
            line-height: 36px;
          }
        }
        p {
          font-size: 18px;
          line-height: 28px;
          color: #FFFFFF;
          text-shadow: 0px 2px 15px rgba(0,0,0,0.2);
          font-weight: 400;
          @media (max-width: 991px) {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .outer_vidyard_wrapper {
          box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
          @media (max-width: 991px) {
              //max-width: 340px;
              margin: 0 auto;
              padding: 0 15px;
          }
        }

        .number-section {
          color: white;
          font-size: 100px;
          font-weight: 300;
          text-align: right;
          width: 100%;
          display: inline-block;
          @media (max-width: 991px) {
            font-size: 60px;
            text-align: left;
            margin-bottom: 15px;
          }
        }
      
    }
    

    .marg-0 {
      @media (max-width: 991px) {
        margin: 0 auto !important;
      }
    }

    

    .blueprint-container {
      display: flex;
      justify-content: center;
      flex-flow: column;
      height: 100vh;
      padding: 20px;
      margin-top: 8%;
      max-width: 719px;
      //margin-top: 103px;
      @media (max-width: 1100px) {
          display: none;
      }

        .blueprint {
          //height: 300px;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          a.room {
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            height: 100%;
            width: 50%;
            transition: all 0.3s ease-in-out;
            background: transparent;
            position: relative;

            img  {
              width: 100%;
            }

            span.number {
              color: rgba(0, 153, 71, 0.5);
              font-size: 144px;
              font-weight: 600;
              position: absolute;
              margin: -72px auto;
              top: 50%;
              display: block;
              z-index: 2;
              left: 0;
              right: 0;
              text-align: center;

            }

            span.info {
              color: rgba(0, 153, 71, 1);
              //color: #ffffff;
              background: rgba(255,255,255,0.75);
              //background: rgba(0, 153, 71, 0.5);
              border: 1px solid rgba(0, 153, 71, 1);
              padding: 10px 20px;
              font-size: 14px;
              font-weight: 600;
              position: absolute;
              top: 75%;
              margin: 0 auto;
              display: block;
              width: 45%;
              z-index: 3;
              left: 0;
              right: 0;
              text-align: center;
              opacity: 1;

              transition: all 0.3s ease-in-out;

            }

            span.chapter, a.chapter {
              color: #ffffff;
              font-size: 36px;
              line-height: 38px;
              font-weight: 600;
              position: absolute;
              top: 8%;
              margin: 0 auto;
              display: block;
              z-index: 4;
              left: 0;
              right: 0;
              text-align: center;
              opacity: 0;
              transition: all 0.5s ease-in-out;

            }

            &:after {
              content: "";
              height: 100%;
              width: 100%;
              background: rgba(0,153,71,0);
              position: absolute;
              display: block;
              z-index: 3;
              top: 0;
              left: 0;
              transition: all 0.3s ease-in-out;
              z-index: 3;
            }

            &:hover {
              &:after {
                background: rgba(0, 153, 71, 0.75);
              }

              span.info {
                opacity: 0;
              }

              span.chapter{
                opacity: 1;
                top: 43%;
              }
            }
            //min-height: 500px;
          }
        }
    }
    .main-menu{
      position: fixed;
      right: 15px;
      top: 40%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      &.show-skrllr-menu {
        opacity: 1;
      }
      @media (max-width: 991px) {
        top: 70%;
        left: 0;
        right: 0;
        display: none;
      }
      .pagination {
        display: block;
        width: 90px;
        @media (max-width: 991px) {
          margin: 0 auto;
          left: 0;
          right: 0;
        }
        li {
          display: block;
          width: 50%;
          border: 2px solid #ffffff;
          float: left;
          margin: -1px;

          &:nth-child(4){
            left: -4px;
            position: relative;
          }
          &:nth-child(1){
            width: 100%;
            border: 0;
            a {
              border-bottom: 2px solid transparent;
              margin-bottom: 15px;
              border-radius: 0;
              &:hover {
                background: transparent;
                border-bottom: 2px solid #ffffff;
              }
              &.active {
                background: transparent;
              }
            }
          }
          a {
            background: transparent;
            font-size: 18px;
            color: #ffffff;
            border: 0;
            width: 100%;
            text-align: center;
            transition: all 0.3s ease-in-out;
            &:hover {
              background: rgba(0, 153, 71, 0.75);
            }
            &.active {
              background: rgba(0, 153, 71, 0.75);
            }
          }
        }
      }
    }

    .vidyard_wrapper .play-btn {
      margin: -12.5% 0 0 -12.5%;
      width: 25%;
    }

}

