.light-gray-bg {
    background-color: #F1F0F0;
}

.dark-blue {
    color: #00263E;
}

.light-blue {
    color: #00B9F2;
}

.bold {
    font-family: "Tungsten A", "Tungsten B"; 
    font-weight: 600;
}

.light {
    font-family: "Tungsten A", "Tungsten B"; 
    font-weight: 400;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dt-design {
    /*.row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .container {
        margin: 0 15px;
        max-width: 1440px;
        width: initial;
    }

    .container-fluid {
        margin: 0;
        max-width: initial;
        width: initial;
        .row {
            margin: 0;
        }
    }*/

    .row {

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
    }


    .pull-md-right {
        float: none;
        @media (min-width: 992px) {
            float: right;
        }
    }
    

    
}


h1 {
    font-family: "Tungsten A", "Tungsten B"; 
    font-weight: 600;
    font-size: 52px;
    letter-spacing: 4.33px;
    line-height: 60px;
    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
    }
}

h3 {
  font-family: "Tungsten A", "Tungsten B";
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 4.66px;
  line-height: 44px;
  text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
    }
}

p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.center {
    display: table;
    left: 0;
    right: 0;
    position: relative;
    width: auto;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

