a.button, .button {
    padding: 15px 30px;
    font-family: "Tungsten A", "Tungsten B";
    font-size: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    transition: all 0.4s ease-in-out;
    position: relative;
    font-weight: 600;
    @media (max-width: 991px) {
        font-size: 18px;
    }
    &.center {
        margin: 0 auto;
        display: table;
    }

    &:disabled, &[disabled]{
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events:none;

        &:hover {
            span {
                -webkit-transform: translate3d(0px,0px,0) !important;
                transform: translate3d(0px,0px,0) !important;
            }
            &:before {
                -webkit-transform: translate3d(0px,0px,0) !important;
                transform: translate3d(0px,0px,0) !important;
            }
        }
    }
    span {
        position: relative;
        display: inline-block;
        z-index: 2;
        //width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: -webkit-transform .3s cubic-bezier(.19,1,.22,1);
        transition: transform .3s cubic-bezier(.19,1,.22,1);
        transition: transform .3s cubic-bezier(.19,1,.22,1),-webkit-transform .3s cubic-bezier(.19,1,.22,1);
        transition: all 0.3s ease-in-out;
    }
    &.dark-blue {
        color: #FFFFFF;
        transition: -webkit-transform .3s cubic-bezier(.19,1,.22,1);
        transition: transform .3s cubic-bezier(.19,1,.22,1);
        transition: transform .3s cubic-bezier(.19,1,.22,1),-webkit-transform .3s cubic-bezier(.19,1,.22,1);
        z-index: 2;
        &:after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,38,62,0);
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            content:"";
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00263E;
            z-index: 2;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            &:after {
                background: rgba(0,38,62,0.25);
            }
            span {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
            }
            &:before {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
                background: lighten(#00263E, 5%);
            }
        }
    }

    &.light-blue {
        @extend .dark-blue;
        &:before {
            background: #00B9F2;
        }

        &:after {
            background:rgba(0,185,242,0);
        }

        &:hover {
            &:after {
                background:rgba(0,185,242,0.25);
            }

             &:before {
                background: lighten(#00B9F2, 5%);
            }
        }
    }

    //Outline
    &.light-blue--ol {
        background: transparent;
        color: #00263E;
        border: 2px solid #00B9F2;
        width: auto;
        font-size: 16px;
        display: inline-block;

        &:after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            content:"";
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #FFFFFF;;
            z-index: 2;
            transition: all 0.3s ease-in-out;
        }

        span {
            font-size: 18px;
            color: #00263E;
            font-weight: 600;
            letter-spacing: 1.65px;
        }

        &:hover {
            &:after {
                background: rgba(0,185,242,0.15);
            }
            span {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
                color: #ffffff;
            }
            &:before {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
                background: lighten(#00B9F2, 5%);
            }
        }
    }

    &.blue--ol {
        @extend .light-blue--ol;
        border:2px solid #00599A;

        &:hover {
            &:after {
                background: rgba(0,89,154,0.15);
            }
            span {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
            }
            &:before {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
                background: lighten(#00599A, 5%);
            }
        }
    }

    &.royal-blue--ol {
        @extend .light-blue--ol;
        border:2px solid #0076CE;

        &:hover {
            &:after {
                background: rgba(0,118,206,0.15);
            }
            span {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
            }
            &:before {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
                background: lighten(#0076CE, 5%);
            }
        }
    }

    &.green--ol {
        @extend .light-blue--ol;
        border:2px solid #009947;

        &:hover {
            &:after {
                background: rgba(0,153,71,0.15);
            }
            span {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
            }
            &:before {
                -webkit-transform: translate3d(-5px,-5px,0);
                transform: translate3d(-5px,-5px,0);
                background: lighten(#009947, 5%);
            }
        }
    }
}


a.cta {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2.33px;
    font-family: 'Tungsten A', 'Tungsten B', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    &.yellow {
        color: #F7B01B;

        &.arrow {
            &:after {
                content: "";
                background-image: url("/assets/img/down-chevron-yellow.svg");
                transform: rotate(-90deg);
                position: relative;
                display: inline-block;
                width: 15px;
                height: 12px;
                background-position: center;
                background-size: 15px 12px;
                background-repeat: no-repeat;
                top: 5px;
                opacity: 0;
                left: -3px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &:hover {
        &.yellow {
            &.arrow {
                &:after {
                    opacity: 1;
                    left: 0;
                }
            }
        }
    }

}