body.dms{
    //display: block;
    //position: fixed;
    //margin: 0;
    //padding: 0;
    //width: 100%;
    //height: 100vh;
    //font-family: 'Helvetica Neue', helvetica, sans-serif;
    //overflow: hidden;
    * {
      outline: 0;
    }
  
    .security-text {
      
      top: 10px;
      position: relative;
      //margin: 0 auto;
      //border: 1px solid #babcbd;
      //padding: 10px;
      width: 100%;
      left: 0px;
      float: right;
      display: flex;
      align-items: center;
      p {
        position: relative;
        top: 2px;
        text-align: left;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        margin: 0;
        float: left;
        width: 75%;
        font-style: italic;
      }
      
      img {
        width: 35px;
        top: 0px;
        left: 0px;
        margin:0  10px;
        display: block;
        position: relative;
        float: left;
      }
    }
  
    .medium-gray-bg2 {
        padding-top: 180px;
    }
  
    .footer {
      padding: 0;
    }
  
    .pile-section {
      background-attachment: fixed;
      background-size: cover;
      background-position: 50% 0%;
      background-repeat: no-repeat;
  
      .row.max-width {
        position: relative;
        z-index: 3;
      }
  
      
  
  
        /*&:after {
          content: "";
          position: absolute;
          z-index: 1;
          background: rgba(0,0,0,0.2);
          width: 100%;
          height: 100%;
          display: block;
          top: 0;
          left: 0;
          right: 0;
        }*/
        background: white;
        &:nth-child(even) {
            background: #E5F8FE !important;
        }
  
        &:first-child, &:last-child {
          &:after {
            background: transparent !important;
          }
        }
    }
  
    #section4 .content {
        top: 100%;
        position: absolute;
        left: 0;
    }
  
    .page {
      width: 100%;
      //margin: 60px auto;
      background:white;
      //padding: 60px;
      -webkit-box-sizing: border-box;
      /* Safari<=5 Android<=3 */
      -moz-box-sizing: border-box;
      /* <=28 */
      box-sizing: border-box;
  }
  
      .title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            p {
              font-weight: 400;
              color: #00263E;
              //color: #75787B
            }
  
      }

      .dms-values-container {
            display: flex;
            min-height: 419px;
            background-position: center 37%;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            @media (max-width: 991px) {
              display: none;
            }
            .value-row {
                display: flex;
                margin: 0 -2px;
            }
          .value {
              height: 100%;
              display: flex;
              width: calc(25% - 2px);
              flex-flow: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              padding: 30px;
              background: rgba(88,89,91,.50);
              border: 1px solid transparent;
              margin: 0 1px;
              color: #ffffff;
              transition: all 0.4s ease-in-out;
              position: relative;

              &:after {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  border-right: 1px solid #ffffff;
                  border-bottom: 1px solid #ffffff;
                  transform: rotate(45deg);
                  transition: all 0.4s ease-in-out;
                  margin-top: 20px;
              }
              
              .value-title {
                color: #ffffff;
                font-family: 'Tungsten';
                text-transform: uppercase;
                font-weight: 600;
                font-size: 36px;
                transition: all 0.4s ease-in-out;
                margin-bottom: 10px;
              }

              .value-description {
                color: #00263E;
                font-weight: 400;
                font-size: 16px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease-in-out;
                height: 0;
              }
              &:hover {
                background: rgba(255,255,255,.90);
                .value-title {
                    color: #00B9F2;

                }
                .value-description {
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
                &:after {
                    border-color: #00B9F2;
                    bottom: 30px;
                    position: absolute;
                }
              }
          }

      }

      .animated-scroll {
        position: relative;
        bottom: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        width: 100%;
        .mouse {
            width: 25px;
            height: 43px;
            min-height: 43px;
            border-radius: 12.5px;
            border: 2px solid #00B9F2;
            display: block;
            margin: 0 auto;
            position: relative;
            background: #ffffff;
            z-index: 1;
               .scroll-animation {
                width: 3px;
                height: 10px;
                border-radius: 12.5px;
                border: 0px solid #00B9F2;
                background: #00B9F2;
                display: block;
                margin: 0 auto;
                position: relative;
                top: 2px;
                z-index: 2;
                -webkit-animation: flickerAnimation 1s infinite;
                -moz-animation: flickerAnimation 1s infinite;
                -o-animation: flickerAnimation 1s infinite;
                  animation: flickerAnimation 3s infinite;
                  
              }
          }

          .scroll-line {
            display: block;
            margin: 0 auto;
            border-right: 1px dashed #00B9F2;
            width: 2px;
            position: absolute;
            bottom: 0;
            height: 50%;
            left: 0;
            right: 0;
          }
      }
  
      @keyframes scrollAnimation {
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      @-o-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      @-moz-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      @-webkit-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      
  
  
  
      .skrllr-section {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
  
        .row.max-width {
          position: relative;
          z-index: 3;
        }
  
        &:first-child, &:last-child {
          &:after {
            background: transparent;
          }
        }
  
  
        &:after {
          content: "";
          position: absolute;
          z-index: 1;
          background: rgba(0,0,0,0.1);
          width: 100%;
          height: 100%;
          display: block;
          top: 0;
          left: 0;
          right: 0;
        }
  
  
      }
  
      .wrapper {
        height: 100% !important;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
      }
  
      h1 {
        text-transform: initial;
        font-family: 'helvetica';
        letter-spacing: 0px;
        font-weight: 600;
        color: #00B9F2;
        //color: #BABCBD;
        //color: #75787B;
        line-height: normal;
        margin-bottom: 0px;
        text-align: center;
        font-family: 'Tungsten';
        text-transform: uppercase;
        font-weight: 600;
  
  
  
          span {
            color: #00B9F2;
            //color: #BABCBD;
            //color: #75787B;
            padding-top: 10px;
            font-weight: 600;
            
            display: inline-block;
  
            
            
          }
          @media (min-width: 769px){
            font-size: 42px;
          }
          @media (min-width: 1440px){
            font-size: 52px;
          }
  
          @media (max-width: 768px){
            font-size: 32px;
          }
          
      }
      
  
      .center-section {
        display: flex;
        justify-content: center;
        flex-flow: column;
        height: 100vh;
  
        @media (max-width: 991px) {
          height: initial;
          display: block;
          margin-top: 75px;
          margin-bottom: 0px;
        }
  
          h2 {
            text-align: left;
            font-weight: 600;
            font-size: 64px;
            line-height: 64px;
            letter-spacing: 0;
            color: #00B9F2;
            padding: 0;
            margin-bottom: 15px;
            font-family: 'Tungsten';
            text-transform: uppercase;
            font-weight: 600;
            @media (max-width: 601px) {
              font-size: 36px;
              line-height: 36px;
              margin-bottom: 15px;
              text-align: left;
            }

            @media (max-width: 991px) {
              font-size: 64px;
              line-height: 64px;
              margin-bottom: 15px;
              text-align: left;
            }
            @media (max-width: 600px) {
              font-size: 36px;
              line-height: 36px;
              margin-bottom: 15px;
              text-align: center;
            }
          }
          p {
            font-size: 18px;
            line-height: 28px;
            color: #00263E;
            //text-shadow: 0px 2px 15px rgba(0,0,0,0.2);
            font-weight: 400;

            @media (min-width: 601px) {
              font-size: 14px;
              line-height: 20px;
              text-align: left;
            }
            
            @media (min-width: 992px) {
              font-size: 18px;
              line-height: 28px;
              text-align: left;
            }

            @media (max-width: 600px) {
              font-size: 14px;
              line-height: 20px;
              text-align: center;
            }


          }

          p.video-title {
            font-weight: 700;
            margin: 0;
            padding-top: 20px;
          }

          p.video-description {
            font-weight: 300;
            margin: 0;
            padding-top: 0px;
            font-size: 14px;
            line-height: 18px;
          }

          a.button, a.cta {
            float: left;
          }

          a.button{
            @media (max-width: 600px){
              width: 100%;
              margin-bottom: 15px;
            }
          }
          a.cta {
            color: #00B9F2;
            text-decoration: none;
            font-weight: 700;
            font-size: 21px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-family: 'Helvetica';
            line-height: 36px;
            text-transform: initial;
            letter-spacing: 0px;
            margin: 30px 30px;
            display: inline-block;
            width: auto;
            position: relative;
            vertical-align: center;
            @media (min-width: 601px) {
              font-size: 16px;
              line-height: 20px;
              margin: 15px 30px;
            }

            @media (min-width: 992px) {
              font-size: 21px;
              line-height: 36px;
              margin: 15px 30px;
            }

            @media (max-width: 600px) {
              font-size: 16px;
              line-height: 24px;
              margin: 0 auto;
              float: none;
              display: table;
            }

            img {
              width: 18px;
              height: 18px;
              display: inline-block;
              position: absolute;
              right: -20px;
              top: 9px;
              @media (max-width: 991px) {
                width: 11px;
                height: 13px;
                top: 4px;
                right: -15px;
              }

            }
            /*&:after {
              content: '';
              background-image: url('/assets/img/play-button-icon.svg');
              width: 30px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              height: 30px;
              display: inline-block;
              top: 10px;
              left: 5px;
              position: relative;
              transition: all 0.3s ease-in-out;
              opacity: 0.8;
  
            }*/
            &:hover {
               text-decoration: underline;
               /*&:after {
                 opacity: 1;
               }
               */
            }
          }
          .outer_vidyard_wrapper {
            box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
            @media (max-width: 991px) {
                //max-width: 340px;
                margin: 15px;
                padding: 0;
            }
          }
  
          .number-section {
            color: white;
            font-size: 100px;
            font-weight: 300;
            text-align: right;
            width: 100%;
            display: inline-block;
            @media (max-width: 991px) {
              font-size: 60px;
              text-align: left;
              margin-bottom: 15px;
            }
          }
        
      }
      
  
      .marg-0 {
        @media (max-width: 991px) {
          margin: 0 auto !important;
        }
      }

      .video-margin {
        @media screen and (min-width: 769px) {
          margin-right: 200px;
        }
        
        @media screen and (min-width: 992px) {
          margin-right: 200px;
        }

        @media screen and (min-width: 1440px){
          margin-right: 150px;
        }

        @media screen and (min-width: 1770px){
          margin-right: 0px;
        }

        
        
        @media (max-width: 768px){
          margin-right: 0px;
        } 
        
        
        
      }
  
      
  
      .blueprint-container {
        display: flex;
        justify-content: center;
        flex-flow: column;
        height: 100vh;
        padding: 20px;
        margin-top: 8%;
        max-width: 719px;
        //margin-top: 103px;
  
        
        @media (max-height: 760px) {
          max-width: 560px;
        }
        @media (max-width: 991px) {
            display: none;
        }
          .blueprint {
            //height: 300px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            a.room {
              background-size: contain;
              background-position: bottom;
              background-repeat: no-repeat;
              height: 100%;
              width: 50%;
              transition: all 0.3s ease-in-out;
              background: transparent;
              position: relative;
  
              img  {
                width: 100%;
              }
  
              span.number {
                color: rgba(0, 153, 71, 0.5);
                font-size: 144px;
                font-weight: 600;
                position: absolute;
                margin: -96px auto;
                top: 50%;
                display: block;
                z-index: 2;
                left: 0;
                right: 0;
                text-align: center;
                line-height: normal;
  
              }
  
              span.info {
                color: rgba(0, 153, 71, 1);
                //color: #ffffff;
                background: rgba(255,255,255,0.75);
                //background: rgba(0, 153, 71, 0.5);
                border: 1px solid rgba(0, 153, 71, 1);
                padding: 5px 0px;
                font-size: 14px;
                font-weight: 600;
                position: absolute;
                top: 74%;
                margin: 0 auto;
                display: block;
                width: 80px;
                z-index: 3;
                left: 0;
                right: 0;
                text-align: center;
                opacity: 1;
  
                transition: all 0.3s ease-in-out;
  
              }
  
              span.chapter, a.chapter {
                color: #ffffff;
                font-size: 36px;
                line-height: 38px;
                font-weight: 600;
                position: absolute;
                top: 8%;
                margin: 0 auto;
                display: block;
                z-index: 4;
                left: 0;
                right: 0;
                text-align: center;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                @media (min-width: 769px){
                  font-size: 24px;
                  line-height: normal;
                }
                @media (min-width: 1440px){
                  font-size: 30px;
                  line-height: normal;
                }
  
                @media (max-width: 768px){
                  font-size: 24px;
                  line-height: normal;
                }
  
  
              }
  
              &:after {
                content: "";
                height: 100%;
                width: 100%;
                background: rgba(0,153,71,0);
                position: absolute;
                display: block;
                z-index: 3;
                top: 0;
                left: 0;
                transition: all 0.3s ease-in-out;
  
              }
  
              &:hover {
                &:after {
                  background: rgba(0, 153, 71, 0.75);
                }
  
                span.info {
                  opacity: 0;
                }
  
                span.chapter{
                  opacity: 1;
                  top: 38%;
                }
              }
              //min-height: 500px;
            }
          }
      }
      .main-menu{
        position: fixed;
        right: 15px;
        top: 40%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        width: 200px;
  
        
  
        @media (max-width: 991px) {
          top: 70%;
          left: 0;
          right: 0;
          display: none !important;
        }
        .pagination {
          display: table;
          float: right;
          width: auto;
          @media (max-width: 991px) {
            margin: 0 auto;
            left: 0;
            right: 0;
          }
          li {
            display: table;
            width: 100%;
            border: 0;
            float: none;
            margin: 0;
            text-align: right;
            margin-bottom: 4px;
  
            &.active {
              
              
              a {
                color: #ffffff;
                background: #00B9F2;
                border-radius: 50px;
                &:after {
                  background: white;
                  transform: scale(1.6);
                }
                &:hover {
                  background: #00B9F2;
                }
              }
            }
  
            
            &:nth-child(1){
              width: 100%;
              border: 0;
              color:  #00B9F2;
              a {
                
                border-radius: 0;
                font-size: 14px;
                line-height: normal;
                
                
                color:  #00B9F2;
                &:before {
                  content: "";
                  border-right: 1px solid #00B9F2;
                  border-bottom: 1px solid #00B9F2;
                  transform: rotate(-135deg);
                  width: 15px;
                  height: 15px;
                  display: block;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  margin: 0 auto;
                  opacity: 0;
                  position: absolute;
                  transition: all 0.3s ease-in-out;
                  top: -10px;
                  right: 20px;
                }
                &:hover {
                  //background: transparent;
                  text-decoration: none;
                  &:before {
                    opacity: 1;
                    top: -20px;
                  }
                }
                &.active {
                  background: transparent;
                }
              }
            }
  
            &:last-child{
              width: 100%;
              border: 0;
              a {
                color:  #00B9F2;
                border-radius: 0;
                font-size: 14px;
                
                &:before {
                  content: "";
                  border-right: 1px solid #00B9F2;
                  border-bottom: 1px solid #00B9F2;
                  transform: rotate(45deg);
                  width: 15px;
                  height: 15px;
                  display: block;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  margin: 0 auto;
                  opacity: 0;
                  position: absolute;
                  transition: all 0.3s ease-in-out;
                  bottom: -10px;
                  right: 20px;
                }
                &:hover {
                  //background: transparent;
                  text-decoration: none;
                  &:before{
                    opacity: 1;
                    bottom: -20px;
                  }
                }
                &.active {
                  background: transparent;
                }
              }
            }
            a {
              background: transparent;
              font-size: 14px;
              line-height: normal;
              color: rgba(0,185,242,0.50);
              border: 0;
              width: auto;
              text-align: right;
              transition: all 0.3s ease-in-out;
              float: right;
              font-weight: 600;
              &:after {
                content: '';
                background: rgba(0,185,242,0.50);;
                width: 7px;
                height: 7px;
                position: relative;
                display: inline-block;
                border-radius: 50%;
                margin-left: 10px;
                transform: scale(1);
                transition: all 0.3s ease-in-out;
                top: -1px;

              }
              &:hover {
                background: rgba(0,185,242,0.50);
                color: white;
                border-radius: 50px;
                &:after {
                  background: white;
                }
              }
              
            }
          }
        }
      }
  
      .main-menu.show-section-menu {
        opacity: 1;
      }
  
      .vidyard_wrapper .play-btn {
        margin: -10% 0 0 -10%;
        width: 20%;
      }
  
      
  
  }
  
  #playlist .panel-item:focus .playlist-thumbnail-container .thumbnail-with-index .thumbnail, #playlist .panel-item:hover .playlist-thumbnail-container .thumbnail-with-index .thumbnail {
          -webkit-filter: blur(0px) opacity(.5);
          filter: blur(0px) opacity(.5);
      }
  
      #playlist .panel-item:focus .playlist-thumbnail-container .thumbnail-with-index .chapter-index, #playlist .panel-item:hover .playlist-thumbnail-container .thumbnail-with-index .chapter-index {
          opacity: 0 !important;
      }