header {
    height: initial;
    @media (max-width: 1100px) {
        height: 7.3rem;
    }

   .eyebrow {
       margin: 0 20px;
       a{
        margin: 10px 0 10px 20px;
        display: block;
        float: left;
        color: #75787B;
        text-transform: uppercase;
        letter-spacing: 1.14px;
        
        &:nth-child(3) {
            span {
                border-left: 0;
            }
        }
        span {
            margin: 0;
            padding: 0;
            font-size: 12px;
            display: block;
        }
       }
    }
    

    .primary-navigation {
        float: left; 
        width: 100%;
        background: white;
        .secondary-navigation {
            border-bottom: 1px solid #F1F0F0;
            display: block;
            width: 100%;
            float: left;
        }

        .navigation {
            //height: 80px;
            width: auto;
            float: left;
            margin-left: 40px;
            li {
                //padding: 25.5px 1rem;
                font-size: 21px;
                letter-spacing: 1.5px;
                @media (max-width: 1320px) {
                    font-size: 16px;
                }
                a {
                    color: #75787B;
                    font-family: 'Tungsten A', 'Tungsten B';
                font-weight: 600;
                    &:after {
                        content: "";
                        width: 12px;
                        height: 8px;
                        background-image: url(/assets/img/down-chevron-yellow.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: relative;
                        display: inline-block;
                        margin-left: 7px;

                    }
                }
                ul.sub-menu {
                    li {
                        a {
                            //padding: 2rem 0px 2rem 0px; 
                            font-size: 16px;
                            //display: block;
                            &:after {
                                content: "";
                                background: transparent;
                                background-image: none;
                                margin-left: 0;

                            }
                        }
                    }
                    
                }
            }
        }
        
    }
    .logo {
        width: 182px;
        height: 46px;
        margin-top: 1.7rem;
        @media (max-width: 1320px) {
            width: 140px;
        }
    }
    ul.primary-nav-buttons {
        display: block; 
        float: right;
        @media (max-width: 1101px) {
            display: none;
        }
        li {
            float: left;
                &:nth-child(1) {
                    a {
                        color: #F7B01B;
                        
                    }
                }
            a {
                padding: 22.5px 30px;
                display: block;
                font-family: 'Tungsten A', 'Tungsten B';
                font-weight: 600;
                font-size: 21px;
                @media (max-width: 1320px) {
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    padding: 22.5px 20px;

                }
                
                border-left: 1px solid #F1F0F0;
                letter-spacing: 2.05px;
                text-transform: uppercase;
                float: left;

                svg {
                    position: relative;
                    top: 5px;
                    .search-icon-color {
                        stroke: #75787B;
                        transition: all 0.3s ease-in-out;
                    }
                }

                &:hover {
                    svg {
                        .search-icon-color {
                            stroke: #2a6496;
                        }
                    }
                }
            }
        }

    }
}
@media (min-width: 1100px){
    .is-scrolled {
        header{
            height:8.24rem;
            .navigation {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                margin-top: 0;
            }
        }
    }
}